:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

h1,
h3 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 96px;
}

.into {
  margin-top: 95px;
}
h2.top-header {
  font-size: 48px;
  text-align: center;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraph {
  text-align: center;
  margin: 30px auto;
  font-size: 18px;
  line-height: 1.5;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}
.btn-primary {
  background-color: var(--primary-color) !important;
  box-shadow: var(--box-shadow);
  padding: 20px 15px;
}
.p-apps {
  font-size: 18px;
  line-height: 1.5;
  padding: 0;
}
.app-header {
  font-size: 48px;
}
.link {
  text-decoration: none;
  color: var(--secondary-color);
}
.contact-me {
  font-size: 48px;
  text-align: center;
}

@media (max-width: 540px) {
  /*527*/
  a.navbar-brand {
    font-size: 15px;
  }
  button.navbar-toggler {
    font-size: 10px;
  }
  a.nav-link {
    font-size: 10px;
  }
  h2.top-header {
    font-size: 33px;
  }
  h1.my-name {
    font-size: 40px;
  }
  h3 {
    font-size: 17px;
  }
  h2.app-header {
    font-size: 30px;
  }
  p.p-apps {
    font-size: 13px;
  }
  .navigation-links a {
    font-size: 12px;
    margin: 0 10px;
    padding: 15px 10px;
  }

  h1.about-header {
    font-size: 37px;
  }
  p.about-paragraph {
    font-size: 10px;
  }
  img {
    margin-bottom: 7px;
  }

  button.btn {
    padding: 6px;
  }
  a.link {
    font-size: 13px;
  }
}

@media (max-width: 767px) {
  h2.app-header {
    text-align: center;
  }
  p.p-apps {
    text-align: center;
  }
  button.btn {
    display: block;
    margin: 0 auto;
    width: 70%;
    font-size: 20px;
  }
}

/*Bottom of the Contact Page*/
@media (max-width: 526px) {
  h2.contact-me {
    font-size: 20px;
  }
  a.email-link {
    font-size: 14px;
  }
}
@media (max-width: 992px) {
  h2.contact-me {
    font-size: 18px;
  }
  a.email-link {
    font-size: 12px;
  }
}
